Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@pryhoda 
pryhoda
/
fit-node-sdk
Private
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Settings
fit-node-sdk/.github/workflows/node.js.yml

Ben Pryhoda Reorg folder stucture
…
Latest commit 54327ef on Jul 6
 History
 1 contributor
32 lines (26 sloc)  906 Bytes

# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install --package-lock=false
    - run: npm run build --if-present
    - name: Run Tests
      run: npm test
fit-node-sdk/node.js.yml at master · pryhoda/fit-node-sdk
